<?js
    var data = obj;
?>
    <section>
        <article>
            <pre class="source linenums"><code><?js=
                typeof highlighter === 'function' ?
                    highlighter(data.code, false, true, true) :
                    data.code
            ?></code></pre>
        </article>
    </section>
