//
// Adds a custom underline using `background-image` instead of `text-decoration`
//

@mixin custom-underline($color, $color-active: false, $color-hover: false) {
    @if $color-active == null {
        $color-active: $color;
    }

    @if $color-hover == null {
        $color-hover: $color-active;
    }

    background-image: linear-gradient(to bottom, rgba($color, 0) 50%, $color 50%);
    text-decoration: none;
    background-repeat: repeat-x;
    // `background-size-x` must be greater than 1px or the underline
    // disappears below < 100% browser zoom
    background-size: 1em 2px;
    background-position: 0 1.15em;
    padding-bottom: 0.15em;

    @if $color-active {
        &:active {
            background-image: linear-gradient(to bottom, rgba($color-active, 0) 50%, $color-active 50%);
        }
    }

    @if $color-hover {
        &:hover {
            background-image: linear-gradient(to bottom, rgba($color-hover, 0) 50%, $color-hover 50%);
        }
    }
}

//
// Includes basic styles targeting semantic weight, style, and size selectors.
//

@mixin semantic-base {
    b,
    strong {
        font-weight: bold;
    }

    i,
    em {
        font-style: italic;
    }

    small {
        font-size: smaller;
    }

    sub {
        font-size: smaller;
        vertical-align: sub;
    }

    sup {
        font-size: smaller;
        vertical-align: super;
    }
}

//
// Includes the necessary markup to support nested lists, including the
// background color to hide the extra bullet from "properly" nested lists that
// contain a list container element inside a list item.
//

@mixin nested-lists(
    $background-color: transparent,
    $offset-ordered-list-bullet: 2px,
    $indent-ordered-list: 38px,
    $offset-unordered-list-bullet: 5px,
    $indent-unordered-list: 35px
) {
    ol {
        padding-left: $indent-ordered-list;

        li {
            list-style-type: decimal;
            padding-left: $offset-ordered-list-bullet;
        }
    }

    ul {
        padding-left: $indent-unordered-list;

        li {
            list-style-type: disc;
            padding-left: $offset-unordered-list-bullet;
        }

        ul {
            li {
                list-style-type: circle;
            }
        }

        ol {
            li {
                list-style-type: decimal;
            }
        }
    }

    ol,
    ul {
        ol,
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }

        @if ($background-color != transparent) {
            // "Properly" nested lists get stuck with the bullet from an `<li>`
            // on the outside. Yes, this is insane, but it looks more correct.
            li > ol,
            li > ul {
                position: relative;

                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    background-color: $background-color;
                    content: '';
                }
            }
        }

        li > ol::before {
            left: -$indent-ordered-list;
            width: $indent-ordered-list;
        }

        li > ul::before {
            left: -$indent-unordered-list;
            width: $indent-unordered-list;
        }
    }
}

//
// Pin an element to all corners
//

@mixin fullscreen($position: fixed) {
    position: $position;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
